pipeline/ADP_IGM2323001_DW_Load_medidata_crp.json
{
	"name": "ADP_IGM2323001_DW_Load_medidata_crp",
	"properties": {
		"activities": [
			{
				"name": "DF_Medidata_Crp",
				"description": "Call Dataflow to update Fact Table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ADBS_Load_Raw_Hist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ADF_IGM2323001_DW_Load_medidata_crp_fact",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceRaw": {
								"tableName": {
									"value": "@pipeline().parameters.srcTableName",
									"type": "Expression"
								}
							},
							"InsertNewData": {
								"tableName": {
									"value": "@pipeline().parameters.tgtTableName",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "LS_Staging_Storage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "igmsynapsefilesysprod/Staging"
					},
					"integrationRuntime": {
						"referenceName": "IGMCROSynapseIR",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ADBS_File_Validation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ADBS_CRO_SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_file_validation",
						"type": "Expression"
					},
					"baseParameters": {
						"sftp_dir_name": {
							"value": "@pipeline().parameters.sftp_dir_name",
							"type": "Expression"
						},
						"raw_table_name": {
							"value": "@pipeline().parameters.srcTableName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ADBS_Load_Raw_Hist",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ADBS_File_Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_load_raw_hist",
						"type": "Expression"
					},
					"baseParameters": {
						"sftp_dir_name": {
							"value": "@pipeline().parameters.sftp_dir_name",
							"type": "Expression"
						},
						"tableSchema": "dbo",
						"tableName": {
							"value": "@replace(pipeline().parameters.srcTableName,'_raw','')",
							"type": "Expression"
						},
						"history": {
							"value": "@pipeline().parameters.history",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set File Validation Error Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_send_mail",
						"type": "Expression"
					},
					"baseParameters": {
						"run_details": {
							"value": "@variables('run_details')",
							"type": "Expression"
						},
						"subject": {
							"value": "@concat('Pipeline Run Details for: ',pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set CRO SFTP Error Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ADBS_CRO_SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_details",
					"value": {
						"value": "@concat('<br>Error Details: ',activity('ADBS_CRO_SFTP').output.runError,'<br>Notebook URL:',activity('ADBS_CRO_SFTP').output.runPageUrl)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Validation Error Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ADBS_File_Validation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_details",
					"value": {
						"value": "@concat('<br>Error Details: ',activity('ADBS_File_Validation').output.runError,'<br>Notebook URL:',activity('ADBS_File_Validation').output.runPageUrl)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Load Raw Hist Error Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ADBS_Load_Raw_Hist",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_details",
					"value": {
						"value": "@concat('<br>Error Details: ',activity('ADBS_Load_Raw_Hist').output.runError,'<br>Notebook URL:',activity('ADBS_Load_Raw_Hist').output.runPageUrl)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ADBS_CRO_SFTP",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_cro_sftp",
						"type": "Expression"
					},
					"baseParameters": {
						"sftp_dir_name": {
							"value": "@pipeline().parameters.sftp_dir_name",
							"type": "Expression"
						},
						"filename": {
							"value": "@pipeline().parameters.sftp_filename",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification SFTP",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set CRO SFTP Error Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_send_mail",
						"type": "Expression"
					},
					"baseParameters": {
						"run_details": {
							"value": "@variables('run_details')",
							"type": "Expression"
						},
						"subject": {
							"value": "@concat('Pipeline Run Details for: ',pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification Raw Hist",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Load Raw Hist Error Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_send_mail",
						"type": "Expression"
					},
					"baseParameters": {
						"run_details": {
							"value": "@variables('run_details')",
							"type": "Expression"
						},
						"subject": {
							"value": "@concat('Pipeline Run Details for: ',pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification Raw Hist_copy1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Dataflow Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_send_mail",
						"type": "Expression"
					},
					"baseParameters": {
						"run_details": {
							"value": "@variables('run_details')",
							"type": "Expression"
						},
						"subject": {
							"value": "@concat('Pipeline Run Details for: ',pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification Raw Hist_copy2",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Dataflow Failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.adbs_send_mail",
						"type": "Expression"
					},
					"baseParameters": {
						"run_details": {
							"value": "@variables('run_details')",
							"type": "Expression"
						},
						"subject": {
							"value": "@concat('Pipeline Run Details for: ',pipeline().Pipeline)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Dataflow Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_Medidata_Crp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_details",
					"value": "Success"
				}
			},
			{
				"name": "Set Dataflow Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_Medidata_Crp",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_details",
					"value": "Failed"
				}
			}
		],
		"parameters": {
			"srcTableName": {
				"type": "string",
				"defaultValue": "igm2323001_medidata_creactive_protein_raw"
			},
			"tgtTableName": {
				"type": "string",
				"defaultValue": "igm2323001_medidata_creactive_protein_fact"
			},
			"sftp_dir_name": {
				"type": "string",
				"defaultValue": "IGM-2323-001/Medidata/crp"
			},
			"adbs_cro_sftp": {
				"type": "string",
				"defaultValue": "/Shared/IGM_CRO_Scipts/ADBS_IGM_CRO_SFTP_DBFS"
			},
			"adbs_file_validation": {
				"type": "string",
				"defaultValue": "/Shared/IGM_CRO_Scipts/ADBS_IGM_CRO_File_Validation"
			},
			"adbs_load_raw_hist": {
				"type": "string",
				"defaultValue": "/Shared/IGM_CRO_Scipts/ADBS_Load_CRO_Medidata_Crp_Raw_Hist"
			},
			"history": {
				"type": "string",
				"defaultValue": "yes"
			},
			"adbs_send_mail": {
				"type": "string",
				"defaultValue": "/Shared/IGM_CRO_Scipts/SendEmail"
			},
			"sftp_filename": {
				"type": "string",
				"defaultValue": "IGM-2323-001_19"
			}
		},
		"variables": {
			"run_details": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IGM_CRO_Synapse"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-15T13:55:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}