pipeline/IGM_DW_Load_TBNK_RAW.json
{
	"name": "IGM_DW_Load_TBNK_RAW",
	"properties": {
		"description": "load tbnk data to mysql raw and hist table",
		"activities": [
			{
				"name": "Load_CRO_Table",
				"description": "Load_CRO_Table",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amartis-a@igmbio.com/Load_CRO_Data",
					"baseParameters": {
						"sftp_dir_name": {
							"value": "@pipeline().parameters.sftp_dir_name",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"tableSchema": {
							"value": "@pipeline().parameters.tableSchema",
							"type": "Expression"
						},
						"history": {
							"value": "@pipeline().parameters.history",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_CRO_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendEmailNotifications",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": {
							"value": "@pipeline().parameters.pEmailTo",
							"type": "Expression"
						},
						"CC": {
							"value": "@pipeline().parameters.pCC",
							"type": "Expression"
						},
						"URL": {
							"value": "@concat('All,<br/><br/>This is an automated notification.<br/><br/>PFB the run and exception details.<br/>Run Output: ',activity('Load_CRO_Table').output.runOutput,'<br/><br/>For more details please follow the link below:<br/><a href=\"',activity('Load_CRO_Table').output.runPageUrl,'\">ADBS Run URL</a><br/><br/>Thanks,<br/>Raymond')",
							"type": "Expression"
						},
						"Bcc": {
							"value": "@pipeline().parameters.pBcc",
							"type": "Expression"
						},
						"Subject": {
							"value": "@pipeline().parameters.pSubject",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"sftp_dir_name": {
				"type": "string",
				"defaultValue": "IGM-2323-001/Medidata/tbnk"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "tbnk_raw"
			},
			"tableSchema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"history": {
				"type": "string",
				"defaultValue": "yes"
			},
			"pEmailTo": {
				"type": "string",
				"defaultValue": "rchan@igmbio.com"
			},
			"pCC": {
				"type": "string",
				"defaultValue": "rchan@igmbio.com"
			},
			"pBcc": {
				"type": "string",
				"defaultValue": "rchan@igmbio.com"
			},
			"pSubject": {
				"type": "string",
				"defaultValue": "CRO- TBNK Run Details"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T13:39:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}